@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html {
  background-color: rgb(42, 42, 42);
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 50px;
  color: white;
  margin: 20px;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.backgroundBox {
  background-image: url(./assets/palette.png);
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

div.box {
  border: 2px solid white;
  box-shadow: 0 0 5px white;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  margin: 10px;
}

div.sliders {
  display: flex;
  align-items: center;
}

li {
  display: flex;
  list-style: none;
  margin: 10px;
  color: white;
}

input {
  cursor: pointer;
}

label {
  padding-left: 10px;
}

p {
  color: white;
}

button {
  background-color: white;
  color: rgb(42, 42, 42);
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  padding: 7px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

@media (min-width: 700px) {
  h1 {
    font-size: 75px;
    margin: 20px;
  }

  div.backgroundBox {
    background-size: 100px;
  }

  div.box {
    height: 135px;
    width: 135px;
  }

  li {
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }
}
